.div-main {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    width: 800px;
    height: 90%;
    margin: auto;
}
.div-save {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.div-save input {
    margin: 5px;
    width: 250px;
}
.div-main > button, .div-save > button {
    width: 100px;
    height: 45px;
    margin: 5px;
}