.div-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

.div-done {
    text-decoration: line-through;
}

.div-item-button {
    width: 40px;
    height: 40px;
    margin: 5px;
}